<!DOCTYPE html>
<html>
<head>
    <title>Basic Shopping Cart Demo</title>
</head>
<body ng-app='cartApp'>
    <!-- ng-controller defines the scope where controller is active -->
    <div ng-controller='cartCtrl'>
		<!-- standard html table -->
        <table>
			<!-- column names -->
            <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Total</th>
                <th></th>
            </tr>
            <!-- example of a tempalte directive : ng-repeat -->
			<!-- ng-repeat iterates thru the items in the 'order' array -->
            <!-- displaying data to screen as a table by the cost -->
            <tr ng-repeat="item in order.items | orderBy:'cost'">
                <td>
                    <input type="text" ng-model="item.description" readonly>
                </td>
                <td>
                    <input type="number" ng-model="item.qty" ng-required>
                </td>
                <td>
                    <!-- 2-way data binding with ng-bind -->
                    <span ng-bind="item.cost"></span>
                </td>
                <!-- the currency filter is based on localization -->
                <td>{{item.qty * item.cost | currency}}</td>
				<!-- ng-click calls removeItem() function when mouse is clicked -->
                <td>[<a href ng-click="removeItem($index)">remove</a>]</td>
            </tr>
            <!-- end of ng-repeat -->
            <tr>
                <td></td>
                <td>Grand Total:</td>
                <td></td>
				<!-- total() function is a realtime execution, currency sets the local currency -->
                <td>{{total() | currency}}</td>
            </tr>
        </table>
    </div>
    <!-- CDN for AngularJS -->
    <!--   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>-->
    <!-- local AngularJS library -->
    <script src="../../scripts/angular.min.js"></script>
    <!-- local custom AngularJS script -->
    <script src="./shoppingCart.js"></script>
</body>
</html>
